---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <section class="form">
    <h3>Inscripción</h3>
    <body>
      <form method="POST" action="https://formspree.io/shpotes3@gmail.com">
        Nombre: <input name="name" placeholder="tu nombre">
        Código: <input name="id" placeholder="Código">
        Correo institucional: <input type="email" name="email" placeholder="Correo">
        <!-- TODO -->
        <input type="hidden" name="_next" value="cigma-oe.github.io/thanks.html" />
        <input type="hidden" name="_subject" value="Nuevo inscrito {{ page.title }}!" />
        <input type="hidden" name="_language" value="es" />
        <button type="submit">Enviar</button>
      </form>
    </body>
  </section>
  
  <section class="shares">
    <h3>Share</h3>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_google_plusone_share"></a>
    <a class="addthis_button_delicious"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_mendeley"></a>
    <a class="addthis_button_linkedin"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51a3e77b5577941a"></script>
    <!-- AddThis Button END -->
  </section>
</section>
