---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}
  
  <div class="form-style-8">
    <h2>Inscripción</h2>
    <form>
      <input type="text" name="field1" placeholder="Full Name" />
      <input type="email" name="field2" placeholder="Email" />
      <input type="url" name="field3" placeholder="Website" />
      <textarea placeholder="Message" onkeyup="adjust_textarea(this)"></textarea>
      <input type="button" value="Send Message" />
    </form>
  </div>
      <!--
          <form method="POST" action="https://formspree.io/shpotes3@gmail.com">
            <input style="width: 75%" type="text" name="name" placeholder="Nombre" required=""><br>
            <input style="width: 75%" type="number" name="id" placeholder="Código" required=""><br>
            <input style="width: 75%" type="email" name="_replyto" placeholder="Correo Institucional" required="">
            <button style="width: 35%" type="submit">Enviar</button>
          </form>
          -->
  <section class="shares">
    <h3>Share</h3>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_google_plusone_share"></a>
      <a class="addthis_button_delicious"></a>
      <a class="addthis_button_reddit"></a>
      <a class="addthis_button_mendeley"></a>
      <a class="addthis_button_linkedin"></a>
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51a3e77b5577941a"></script>
    <!-- AddThis Button END -->
  </section>
  </form>
</section>
